<div class='paper-box'><div class='paper-box-image'><div><div class="badge">ECCV 2020</div><img src='images/ae_textspotter.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[AE TextSpotter: Learning Visual and Linguistic Representation for Ambiguous Text Spotting](https://www.ecva.net/papers/eccv_2020/papers_ECCV/html/3946_ECCV_2020_paper.php)

Wenhai Wang, Xuebo Liu, **Xiaozhong Ji**, Enze Xie, Ding Liang, ZhiBo Yang, Tong Lu, Chunhua Shen, Ping Luo

**ECCV 2020**
</div></div>
