<div class='paper-box'><div class='paper-box-image'><div><div class="badge">CVPR 2022</div><img src='images/blind_face.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Blind Face Restoration via Integrating Face Shape and Generative Priors](https://openaccess.thecvf.com/content/CVPR2022/html/Zhu_Blind_Face_Restoration_via_Integrating_Face_Shape_and_Generative_Priors_CVPR_2022_paper.html)

Feida Zhu, Junwei Zhu, Wenqing Chu, Xinyi Zhang, **Xiaozhong Ji**, Chengjie Wang, Ying Tai

**CVPR 2022**
</div></div>
