<div class='paper-box'><div class='paper-box-image'><div><div class="badge">ECCV 2022</div><img src='images/colorformer.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[ColorFormer: Image Colorization via Color Memory Assisted Hybrid-Attention Transformer](https://www.ecva.net/papers/eccv_2022/papers_ECCV/papers/136760019.pdf)

**Xiaozhong Ji**, Boyuan Jiang, Donghao Luo, Guangpin Tao, Wenqing Chu, Zhifeng Xie, Chengjie Wang, Ying Tai

**ECCV 2022** | [**GitHub**](https://github.com/jixiaozhong/ColorFormer) ![](https://img.shields.io/github/stars/jixiaozhong/ColorFormer?style=social) | [**Official Repo**](https://github.com/TencentYoutuResearch/ImageColorization-ColorFormer) | [**Paper**](https://www.ecva.net/papers/eccv_2022/papers_ECCV/papers/136760019.pdf) | <a href="https://scholar.google.com/citations?user=iL2j_yAAAAAJ"><img src="https://img.shields.io/badge/citations-84-blue?logo=googlescholar" alt="Citations"></a>
</div></div>
