<div class='paper-box'><div class='paper-box-image'><div><div class="badge">CURE-Bench @ NeurIPS 2025</div><img src='images/cureflow.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[CureFlow: An AI Engine for Complex Medication Decision-Making](https://curebench.ai/assets/MedXIAOHe-B0jbUIgI.pdf)

**Xiaozhong Ji**, Jinghao Lin, Yuhang Wu, Zihan Wang, Boyuan Jiang, Chao Gao

**NeurIPS 2025 CURE-Bench Challenge** | [**Poster**](https://curebench.ai/assets/MedXIAOHe-B0jbUIgI.pdf) | [**Leaderboard**](https://www.kaggle.com/competitions/cure-bench/leaderboard) | 🏆 Championship (MedXiaoHe team, 1st/322)
</div></div>
