<div class='paper-box'><div class='paper-box-image'><div><div class="badge">arXiv 2026</div><img src='images/deepmed.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[DEEPMED: Building a Medical DeepResearch Agent via Multi-hop Med-Search Data and Turn-Controlled Agentic Training & Inference](https://arxiv.org/abs/2601.18496)

Zihan Wang, Hao Wang, Shi Feng, Xiaocui Yang, Daling Wang, Yiqun Zhang, Jinghao Lin, Haihua Yang, **Xiaozhong Ji**

**arXiv 2026**
</div></div>
