<div class='paper-box'><div class='paper-box-image'><div><div class="badge">ACM MM 2025</div><img src='images/dicetalk.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[DICE-Talk: Disentangle Identity, Cooperate Emotion for Correlation-Aware Emotional Talking Portrait Generation](https://arxiv.org/abs/2504.18087)

Weipeng Tan, Chuming Lin, Chengming Xu, FeiFan Xu, Xiaobin Hu, **Xiaozhong Ji**, Junwei Zhu, Chengjie Wang, Yanwei Fu

**ACM MM 2025** | [**GitHub**](https://github.com/toto222/DICE-Talk) ![](https://img.shields.io/github/stars/toto222/DICE-Talk?style=social) | [**Project**](https://toto222.github.io/DICE-Talk/) | [**Paper**](https://arxiv.org/abs/2504.18087)
</div></div>
