<div class='paper-box'><div class='paper-box-image'><div><div class="badge">ECCV 2024</div><img src='images/diffumatting.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[DiffuMatting: Synthesizing Arbitrary Objects with Matting-level Annotation](https://arxiv.org/abs/2403.06168)

Xiaobin Hu, Xu Peng, Donghao Luo, **Xiaozhong Ji**, Jinlong Peng, Zhengkai Jiang, Jiangning Zhang, Taisong Jin, Chengjie Wang, Rongrong Ji

**ECCV 2024** | [**GitHub**](https://github.com/HUuxiaobin/DiffuMatting) ![](https://img.shields.io/github/stars/HUuxiaobin/DiffuMatting?style=social)
</div></div>
