<div class='paper-box'><div class='paper-box-image'><div><div class="badge">TechRxiv 2025</div><img src='images/good_teacher_better_student.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Good Teachers, Better Students: A Survey of Reward Models for LLM](https://d197for5662m48.cloudfront.net/documents/publicationstatus/298415/preprint_pdf/e523cab312a45c86a55700311bcdb4a8.pdf)

Linhao Wang, Zihan Wang, Jinghao Lin, ..., **Xiaozhong Ji**, Xiaobin Hu, et al.

**TechRxiv 2025** | [**Paper**](https://d197for5662m48.cloudfront.net/documents/publicationstatus/298415/preprint_pdf/e523cab312a45c86a55700311bcdb4a8.pdf)
</div></div>
