<div class='paper-box'><div class='paper-box-image'><div><div class="badge">CVPR 2025</div><img src='images/grounding_face.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[GroundingFace: Fine-grained Face Understanding via Pixel Grounding Multimodal Large Language Model](https://openaccess.thecvf.com/content/CVPR2025/papers/Han_GroundingFace_Fine-grained_Face_Understanding_via_Pixel_Grounding_Multimodal_Large_Language_CVPR_2025_paper.pdf)

Yue Han, Jiangning Zhang, Junwei Zhu, Runze Hou, **Xiaozhong Ji**, Chuming Lin, Xiaobin Hu, Zhucun Xue, Yong Liu

**CVPR 2025**
</div></div>
