<div class='paper-box'><div class='paper-box-image'><div><div class="badge">arXiv 2025</div><img src='images/human_mme.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Human-MME: A Holistic Evaluation Benchmark for Human-Centric Multimodal Large Language Models](https://arxiv.org/abs/2509.26165)

Yuansen Liu, Haiming Tang, Jinlong Peng, Jiangning Zhang, **Xiaozhong Ji**, Qingdong He, Wenbin Wu, Donghao Luo, Zhenye Gan, Junwei Zhu, et al.

**arXiv 2025**
</div></div>
