<div class='paper-box'><div class='paper-box-image'><div><div class="badge">CVPR 2025</div><img src='images/hunyuanportrait.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[HunyuanPortrait: Implicit Condition Control for Enhanced Portrait Animation](https://arxiv.org/abs/2503.18860)

Zunnan Xu, Zhentao Yu, Zixiang Zhou, Jun Zhou, Xiaoyu Jin, Fa-Ting Hong, **Xiaozhong Ji**, Junwei Zhu, Chengfei Cai, Shiyu Tang, Qin Lin, Xiu Li, Qinglin Lu

**CVPR 2025** | [**GitHub**](https://github.com/Tencent-Hunyuan/HunyuanPortrait) ![](https://img.shields.io/github/stars/Tencent-Hunyuan/HunyuanPortrait?style=social) | [**Paper**](https://arxiv.org/abs/2503.18860)
</div></div>
