<div class='paper-box'><div class='paper-box-image'><div><div class="badge">CVPR 2026</div><img src='images/medcmr.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Med-CMR: A Fine-Grained Benchmark Integrating Visual Evidence and Clinical Logic for Medical Complex Multimodal Reasoning](https://arxiv.org/abs/2512.00818)

Haozhen Gong, **Xiaozhong Ji**, Yuansen Liu, Wenbin Wu, Xiaoxiao Yan, Jingjing Liu, Kai Wu, Jiazhen Pan, Bailiang Jian, Jiangning Zhang, et al.

**CVPR 2026**
</div></div>
