<div class='paper-box'><div class='paper-box-image'><div><div class="badge">arXiv 2026</div><img src='images/medxiaohe.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[MedXIAOHE: A Comprehensive Recipe for Building Medical MLLMs](https://arxiv.org/abs/2602.12705)

Baorong Shi, Bo Cui, Boyuan Jiang, Deli Yu, Fang Qian, Haihua Yang, Huichao Wang, Jiale Chen, Jianfei Pan, Jieqiong Cao, Jinghao Lin, Kai Wu, Lin Yang, Shengsheng Yao, Tao Chen, Xiaojun Xiao, **Xiaozhong Ji**, Xu Wang, Yijun He, Zhixiong Yang

**arXiv 2026**
</div></div>
