<div class='paper-box'><div class='paper-box-image'><div><div class="badge">RWSR Challenge @ CVPR 2020</div><img src='images/realsr.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Real-World Super-Resolution via Kernel Estimation and Noise Injection](https://openaccess.thecvf.com/content_CVPRW_2020/papers/w31/Ji_Real-World_Super-Resolution_via_Kernel_Estimation_and_Noise_Injection_CVPRW_2020_paper.pdf)

**Xiaozhong Ji**, Yun Cao, Ying Tai, Chengjie Wang, Jilin Li, Feiyue Huang

**CVPR 2020 Workshop** | [**GitHub**](https://github.com/jixiaozhong/RealSR) ![](https://img.shields.io/github/stars/jixiaozhong/RealSR?style=social) | [**GitHub (Tencent)**](https://github.com/Tencent/Real-SR) | <a href="https://scholar.google.com/citations?user=iL2j_yAAAAAJ"><img src="https://img.shields.io/badge/citations-435-blue?logo=googlescholar" alt="Citations"></a>
</div></div>
