<div class='paper-box'><div class='paper-box-image'><div><div class="badge">arXiv 2024</div><img src='images/realtalk.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[RealTalk: Real-time and Realistic Audio-driven Face Generation with 3D Facial Prior-guided Identity Alignment Network](https://arxiv.org/abs/2406.18284)

**Xiaozhong Ji**, Chuming Lin, Zhonggan Ding, Ying Tai, Junwei Zhu, Xiaobin Hu, Donghao Luo, Yanhao Ge, Chengjie Wang

**arXiv 2024**
</div></div>
