<div class='paper-box'><div class='paper-box-image'><div><div class="badge">CVPR 2025</div><img src='Sonic/static/teaser.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Sonic: Shifting focus to global audio perception in portrait animation](https://openaccess.thecvf.com/content/CVPR2025/papers/Ji_Sonic_Shifting_Focus_to_Global_Audio_Perception_in_Portrait_Animation_CVPR_2025_paper.pdf)

**Xiaozhong Ji**, Xiaobin Hu, Zhihong Xu, Junwei Zhu, Chuming Lin, Qingdong He, Jiangning Zhang, Donghao Luo, Yi Chen, Qin Lin, Qinglin Lu, Chengjie Wang

**CVPR 2025** | [**GitHub**](https://github.com/jixiaozhong/Sonic) ![](https://img.shields.io/github/stars/jixiaozhong/Sonic?style=social) | [**Paper**](https://openaccess.thecvf.com/content/CVPR2025/papers/Ji_Sonic_Shifting_Focus_to_Global_Audio_Perception_in_Portrait_Animation_CVPR_2025_paper.pdf) | <a href="https://scholar.google.com/citations?user=iL2j_yAAAAAJ"><img src="https://img.shields.io/badge/citations-48-blue?logo=googlescholar" alt="Citations"></a>
</div></div>
