<div class='paper-box'><div class='paper-box-image'><div><div class="badge">NeurIPS 2021</div><img src='images/spectrum2kernel.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Spectrum-to-Kernel Translation for Accurate Blind Image Super-Resolution](https://arxiv.org/abs/2110.12151)

Guangpin Tao, **Xiaozhong Ji**, Wenzhuo Wang, Shuo Chen, Chuming Lin, Yun Cao, Tong Lu, Donghao Luo, Ying Tai

**NeurIPS 2021** | [**Paper**](https://arxiv.org/abs/2110.12151) | <a href="https://scholar.google.com/citations?user=iL2j_yAAAAAJ"><img src="https://img.shields.io/badge/citations-34-blue?logo=googlescholar" alt="Citations"></a>
</div></div>
