<div class='paper-box'><div class='paper-box-image'><div><div class="badge">IJCAI 2024</div><img src='images/unimov3d.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[UniM-OV3D: Uni-Modality Open-Vocabulary 3D Scene Understanding with Fine-Grained Feature Representation](https://arxiv.org/abs/2401.11395)

Qingdong He, Jinlong Peng, Zhengkai Jiang, Kai Wu, **Xiaozhong Ji**, Jiangning Zhang, Yabiao Wang, Chengjie Wang, Mingang Chen, Yunsheng Wu

**IJCAI 2024** | [**GitHub**](https://github.com/hithqd/UniM-OV3D) ![](https://img.shields.io/github/stars/hithqd/UniM-OV3D?style=social) | [**Paper**](https://arxiv.org/abs/2401.11395) | <a href="https://scholar.google.com/citations?user=iL2j_yAAAAAJ"><img src="https://img.shields.io/badge/citations-17-blue?logo=googlescholar" alt="Citations"></a>
</div></div>
